.hero-container
  %img.hero-bg.hero-bg-left{ src: "/images/home/hero-bg-left.svg", alt: "Gitlab hero background left svg" }
  %img.hero-bg.hero-bg-right{ src: "/images/home/hero-bg-right.svg", alt: "Gitlab hero background right svg" }
  .hero-content
    %h1.bold-headline.margin-top0.hero-item
      A full DevOps
      = precede 'tool' do
        %span.cross-out chain
      %span> .*
    .hero-item
      %p
        GitLab is a single application for the entire software development lifecycle. From project planning and source code management to CI/CD, monitoring, and security.
      %p.no-assembly
        *No assembly required.
    .buttons-container.margin-top20.hero-item
      %a.btn.cta-btn.orange{ href: "/free-trial/" }
        Try GitLab for Free
      %a.btn.cta-btn.btn-white.flex-container.align-center{ href: "/webcast/cloud-native-transformation/" }
        .i.fas.fa-play.play-icon
        We power cloud native
    .hero-thumb-container#hero-video-thumb
      %img.hero-thumb{ src: "/images/home/hero-video-thumb.png", alt: "Gitlab hero video thumb png" }
      .hero-play-container
        = partial "includes/icons/home/hero-thumb-play.svg"

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}
