---
layout: default
title: "Core Team Alumni"
description: "Learn about GitLab alumni - core team members who are no longer active but whose work is very much appreciated."
suppress_header: true
extra_css:
  - core.css
---
.wrapper
  .simple-header
    %h1 Core Team Alumni
  .container.page-container
    .row.col-xs-12
      %p GitLab core team members who are no longer active (alumni) but whose work is very much appreciated.
      %p
        See
        %a{href: "/core-team/"} core team page
        for current core team members.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/core-team/newton.png", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://jamesnewton.com"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/jameswritescode"}
              .twitter.no-margin
          %li
            %a{href: "https://www.linkedin.com/in/jameswritescode"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/newton"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/jameswritescode"}
              .github.no-margin
      #newton.col-sm-8
        %h2.title James Newton
        %p James is a software developer in Orlando, FL, US.
        %p He started following GitLab development in 2012 looking for a better git management interface. Needless to say, it was love at first sight. Since then he's has been supporting GitLab users in the freenode IRC channel.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/valeriy.png", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://ua.linkedin.com/pub/valeriy-sizov/41/284/249"}
              .linkedin.no-margin
          %li
            %a{href: "https://github.com/vsizov"}
              .github.no-margin
      .col-sm-8
        %h2.title Valeriy Sizov
        %p Valeriy was one of the initial authors of GitLab together with Dmitriy Zaporozhets.
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "https://secure.gravatar.com/avatar/fbd740180d2c3b4dbe8c3a23d4e30c83?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://gravityonmars.com/"}
              .website.no-margin
          %li
            %a{href: "http://twitter.com/gravityonmars"}
              .twitter.no-margin
          %li
            %a{href: "https://github.com/gravityonmars"}
              .github.no-margin
      .col-sm-8
        %h2.title Ricardo Rauch
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/yves.jpeg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://blog.senny.ch/"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/fistofsenn"}
              .twitter.no-margin
          %li
            %a{href: "https://github.com/senny"}
              .github.no-margin
      .col-sm-8
        %h2.title Yves Senn
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/ariejan.jpeg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://ariejan.net/"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/ariejan"}
              .twitter.no-margin
          %li
            %a{href: "http://nl.linkedin.com/in/ariejan"}
              .linkedin.no-margin
          %li
            %a{href: "https://github.com/ariejan"}
              .github.no-margin
      .col-sm-8
        %h2.title Ariejan de Vroom
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/riyad.png", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://blog.bilak.info/"}
              .website.no-margin
          %li
            %a{href: "https://github.com/riyad"}
              .github.no-margin
      .col-sm-8
        %h2.title Riyad Preukschas
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/saito.png", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://saito.im/"}
              .website.no-margin
          %li
            %a{href: "https://github.com/SaitoWu"}
              .github.no-margin
      .col-sm-8
        %h2.title Saito Wu
    .row
      %hr.hor-line/
    .row.teams
      .teams.row
        .col-sm-4
          .core-team-image
            %img.img-responsive{src: "/images/team/nihad.jpg", alt: "nihad image gitlab jpg"}/
          %ul.core-team-social
            %li
              %a{href: "http://narkoz.github.io/"}
                .website.no-margin
            %li
              %a{href: "https://github.com/NARKOZ"}
                .github.no-margin
        .col-sm-8
          %h2.title Nihad Abbasov
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          %img.img-responsive{src: "/images/team/jeroen.jpg", alt: "jeroen image gitlab jpg"}/
        %ul.core-team-social
          %li
            %a{href: "https://twitter.com/jvanbaarsen"}
              .twitter.no-margin
          %li
            %a{href: "http://nl.linkedin.com/in/jvanbaarsen"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/jvanbaarsen"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/jvanbaarsen"}
              .github.no-margin
      .col-sm-8
        %h2.title Jeroen van Baarsen
    .row
      %hr.hor-line/
    %h2 Alumni, now employees of GitLab Inc.
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/dmitriy.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://ua.linkedin.com/in/dzaporozhets"}
              .linkedin.no-margin
          %li
            %a{href: "https://gitlab.com/dzaporozhets"}
              .gitlab.no-margin
      .col-sm-8
        %h2.title Dmitriy Zaporozhets
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "https://secure.gravatar.com/avatar/73c8253932541a7b5cbc5d79493f2bea?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://tsigo.github.io/"}
              .website.no-margin
          %li
            %a{href: "https://twitter.com/rspeicher"}
              .twitter.no-margin
          %li
            %a{href: "https://github.com/tsigo"}
              .github.no-margin
      .col-sm-8
        %h2.title Robert Speicher
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/marin.jpeg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://rs.linkedin.com/pub/marin-jankovski/21/a/a64"}
              .linkedin.no-margin
          %li
            %a{href: "https://twitter.com/maxlazio"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/marin"}
              .gitlab.no-margin
      .col-sm-8
        %h2.title Marin Jankovski
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/jacob.jpeg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://www.linkedin.com/in/jacobvosmaer"}
              .linkedin.no-margin
          %li
            %a{href: "https://twitter.com/jacobvosmaer"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/jacobvosmaer"}
              .gitlab.no-margin
      .col-sm-8
        %h2.title Jacob Vosmaer
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/sytse.jpeg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://nl.linkedin.com/in/sijbrandij"}
              .linkedin.no-margin
          %li
            %a{href: "https://twitter.com/sytses"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/sytses"}
              .gitlab.no-margin
      .col-sm-8
        %h2.title Sid Sijbrandij
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/drew.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "http://www.linkedin.com/pub/drew-blessing/21/908/b64/"}
              .linkedin.no-margin
          %li
            %a{href: "https://twitter.com/drewblessing"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/dblessing"}
              .gitlab.no-margin
      .col-sm-8
        %h2.title Drew Blessing
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/axil.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://twitter.com/_axil"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/axil"}
              .gitlab.no-margin
      .col-sm-8
        %h2.title Achilleas Pipinellis
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/kamil.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://www.linkedin.com/in/kamiltrzcinski"}
              .linkedin.no-margin
          %li
            %a{href: "https://twitter.com/ayufanpl"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/ayufan"}
              .gitlab.no-margin
      .col-sm-8
        %h2.title Kamil Trzciński
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/stanhu.jpg", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://www.linkedin.com/in/stanhu00"}
              .linkedin.no-margin
          %li
            %a{href: "https://twitter.com/stanhu"}
              .twitter.no-margin
          %li
            %a{href: "https://gitlab.com/stanhu"}
              .gitlab.no-margin
      .col-sm-8
        %h2.title Stan Hu
    .row
      %hr.hor-line/
    .row.teams
      .col-sm-4
        .core-team-image
          = image_tag "/images/team/winniehell.png", class: "img-responsive"
        %ul.core-team-social
          %li
            %a{href: "https://winniehell.de"}
              .website.no-margin
          %li
            %a{href: "https://gitlab.com/winniehell"}
              .gitlab.no-margin
          %li
            %a{href: "https://github.com/winniehell"}
              .github.no-margin
      .col-sm-8
        %h2.title Winnie Hellmann
        %p Winnie was part of the core team for almost one year before he joined the GitLab team in May 2017.
