---
title: GitLab and AWS
description: "GitLab and AWS."
suppress_header: true
extra_css:
  - auto-devops.css
  - product.css
extra_js:
  - features.js
---
.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
  .header-content
    %h1 GitLab + AWS
    %p
      An entire DevOps solution for deploying to Amazon Web Services

    %a.btn.cta-btn.accent{ href: "/sales/" } Talk to an expert

.content-container
  .content.tile
    %h2 GitLab deploys your applications to AWS

    %img{ src: "/images/applications/apps/aws.png", :style => "padding: 6% 30%", :alt => "AWS png" }

    :markdown
      [GitLab CI/CD](/product/continuous-delivery/) builds, tests, and deploys your applications to any AWS infrastructure whether you are using EC2, ECS, or EKS. As a single application, GitLb has everything you need for DevOps from project planning and source code management to CI/CD and monitoring. Everything works together out-of-the box with no need to integrate.

  %a.btn.cta-btn.accent{ href: "/product/continuous-delivery/" } GitLab CI/CD

  .content.tile
    %h2 AWS Partner with DevOps competency for CI/CD

    %img{ src: "/images/solutions/aws/aws-technology-partner.png", :style => "margin: 5% auto; display: block;", :alt => "AWS tech partner png" }

    :markdown
      We are proud to be a part of the [AWS Competency Program](https://aws.amazon.com/partners/competencies/) which is designed to highlight AWS Advanced Partner Network (APN) Partners who have demonstrated technical proficiency and proven customer success in specialized solution areas.

  %a.btn.cta-btn.accent{ href: "/resources/downloads/GitLab_AWS_Solution_Brief.pdf" } Download solution brief

  .content.tile
    %h2 Full support for Kubernetes

    %img{ src: "/images/home/kubernetes.png", :style => "padding: 5% 20%", :alt => "Kubernetes png" }

    :markdown
      GitLab is designed for cloud native applications with robust [Kubernetes integration](/solutions/kubernetes/) that makes it easy to connect clusters and even install apps to your cluster with a single click. GitLab works great with any upstream Kubernetes cluster including [official support for EKS](/2018/06/06/eks-gitlab-integration/).

  %a.btn.cta-btn.accent{ href: "/2018/06/06/eks-gitlab-integration/" } EKS Support

  .content.tile
    %h2 Trek10 enables cloud native architectures on AWS

    %img{alt: "Trek10 Logo", src: "/images/case_study_logos/trek10-logo.svg", style: "padding: 5% 20%"}

    %p{ :style => "font-size:24px; font-weight: 300; padding: 50px 0px 20px 0px; line-height: 36px; color: #548; margin-top: 0px;" } &ldquo;Essentially, we look at GitLab as a building block, and we just build whatever we need on top of it. Whether it's a wiki or a custom integration, GitLab helps create an engineering culture.&rdquo;

    %div{:style => "font-size: 20px; margin-top: 20px; color: #548;"} Jared Short
    %div{:style => "font-size: 16px; color: #777; text-transform: uppercase;"} Director of Innovation, Trek10

  %a.btn.cta-btn.accent{ href: "/customers/trek10/" } Trek10 Case Study

  .content.tile
    %h2 Awxay drove digital transformation with GitLab and AWS

    %img{alt: "Axway Logo", src: "/images/case_study_logos/axway-logo.svg", style: "padding: 5% 20%"}

    %p{ :style => "font-size:24px; font-weight: 300; padding: 50px 0px 20px 0px; line-height: 36px; color: #548; margin-top: 0px;" } &ldquo;GitLab offered the most advanced feature set on the market.&rdquo;

    %div{:style => "font-size: 20px; margin-top: 20px; color: #548;"} Eric Labourdette
    %div{:style => "font-size: 16px; color: #777; text-transform: uppercase;"} Head of Global R&D Engineering Services, Awxay

  %a.btn.cta-btn.accent{ href: "/customers/axway/" } Axway case study

  .content.tile
    %h2 Run your GitLab instance on AWS

    :markdown
      GitLab is available both as a [Self-Managed package](https://about.gitlab.com/pricing/#self-managed) to install, configure, and administer on your infrastructure or as a SaaS offering that you can simply [sign up and start using](https://gitlab.com/users/sign_in#register-pane). GitLab Self-Managed runs great on everything from bare metal and VMs to your choice of cloud provider, including AWS. GitLab can be installed to EC2 using an Amazon Machine Image (AMI) or to a Kubernetes cluster on EKS using the GitLab helm chart.

  %a.btn.cta-btn.accent{ href: "https://docs.gitlab.com/ee/install/aws/" } Install on EC2
  %a.btn.cta-btn.accent{ href: "https://docs.gitlab.com/ee/install/kubernetes/gitlab_chart.html" } Install on EKS
