---
title: Train the Trainer
suppress_header: true
description: "GitLab Education | Train the Trainer"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Train the Trainer
    %h2.headline-subtitle
      Scale your DevOps transformation across your entire global enterprise

.services-inner
  .page-container.container
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Summary
        %p.service-para
          Empower your teams to be leverage experts in all things GitLab - and accelerate your enterprise adoption of the single application for the DevOps lifecycle.
        %p.service-para
          For customers with thousands of business users, developers, and operators who want training and education on the various aspects of GitLab, our staff can help you leverage internal trainers.  We will bring your team up to speed using the same programs we use to train GitLabbers and partners.  In addition, we will provide all the materials and resources you need to be successful.
        %p.service-para
          As our curriculum updates as the uses for GitLab expand in your organization, our train-the-trainer resources will always be available for your teams.

        %h2 Who is this service for?
        %p.service-para
          Customers with large enterprises who will need leveraged help driving organizational change.
        %h1 What's included?
        %p GitLab offers a variety of training courses depending on your team's needs.  In addition, we offer specialized training that can be customized even further.
        %p The general courses we offer include:
        %ul
          %li
            %a{href: '/services/education/gitlab-basics'} GitLab with Git Basics Training
          %li 
            %a{href: '/services/education/gitlab-ci'}GitLab CI/CD Training
          %li
            %a{href: '/services/education/admin'} GitLab Administration Training
          %li
            %a{href: '/services/specialized'} Specialized Training


.services-form#contactform
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
