---
layout: markdown_page
title: "Product Vision - Package"
---

- TOC
{:toc}

## Package management

The Package stage of the DevOps pipeline focuses on creating a consistent and dependable supply chain and distribution layer to integrate with any development environment. Drive DevOps acceleration by ensuring software flows freely, quickly, and without interruption through your pipelines with an integrated universal package management solution.

Note that this stage is also involved in delivering improvements for our
[mobile development and delivery](/direction/mobile) and [CI/CD](/direction/cicd) 
use cases. If you have an interest in these topics, please also take a look there.

<figure class="video_container">
<iframe src="https://www.youtube.com/embed/sexHPOVbAoA" frameborder="0" allowfullscreen="true" width="320" height="180"> </iframe>
</figure>

Feel free to reach out to PM Jason Lenny ([E-Mail](mailto:jason@gitlab.com)) or PM Dimitrie Hoekstra ([E-Mail](mailto:dimitrie@gitlab.com) / [Twitter](https://twitter.com/dimitrieh)) if you'd like to provide feedback or ask questions about what's coming.

### Private, Secure, Reliable, and Compliant Supply Chains

Developing concurrently with GitLab is done by taking advantage of our [single application](/handbook/product/#single-application) which supports integrated package management. Our initial focus is on making supply chains privately accessible. This will make sharing packages within your organization/team easier and better manageable.

By continuously identifying compliance and security evidence in planned and in production releases GitLab reduces open source risk. Developers can safely rely on a wide array of external dependencies through scanning and auditing. Making this information concurrent and transparent ensures confidence in what you are building and releasing for everyone involved.

### Universal Package Type Management & DevOps acceleration

GitLab's strength comes from being a [single application](/handbook/product/#single-application) and will ensure a single interface with unified authentication for managing dependencies, registries, and package repositories. As of today, we support Java Maven Packages, Docker images, and NPM. We are building a universal package management solution, supporting a wide array of package repositories. This flexibility and accessibility will allow GitLab users to increase throughput consistently.

<%= partial("direction/categories", :locals => { :stageKey => "package" }) %>

<%= partial("direction/contribute", :locals => { :stageKey => "package" }) %>

## What's Next

It's important to call out that the below plan can change any moment and should not be taken as a hard commitment, though we do try to keep things generally stable. In general, we follow the same [prioritization guidelines](/handbook/product/#prioritization) as the product team at large. Issues will tend to flow from having no milestone, to being added to the backlog, to being added to this page and/or a specific milestone for delivery.

<%= direction %>

<%= partial("direction/other", :locals => { :stage => "package" }) %>